body{
    background-color:antiquewhite;
    background: url(pokeball.jpg)
    
}

.Regions{
  padding: 10px 10px 20px 10px;
  border: 10px solid black;
  margin: 22px;
  background-color: lightgrey;
    border-style: double;
  display: grid;
  grid-template-columns: auto ;
  height: 100%;
    width: 25%;
    text-align: center;
    float:left;
    clear: left;
    background: rgba(76, 175, 80, 0.3)
   
  
}

.PokNames{
  padding:
  10px 10px 20px 10px;
  margin: 20px;
  border: 10px solid black;
  background-color: white;
   border-style: double;
  display: grid;
  grid-template-columns: auto ;
  height: 100%;
  width: 25%;
  float: left;
  text-align: center;
  overflow:auto;
  background-color: lightgrey;
  background: rgba(76, 175, 80, 0.3)

}

.Description{
  padding:
  10px 10px 20px 10px;
  margin: 20px;
  border: 10px solid black;
  background-color: white;
  border-style: double;
  text-align: center;
  height: 100%;
  width: 25%;
  float:right;
  background-color: lightgrey;
  background: rgba(76, 175, 80, 0.3)
}
