body{
    background-color:antiquewhite;
    
    
}

.Regions{
  padding: 10px 10px 20px 10px;
  border: 5px solid #BFBFBF;
<<<<<<< HEAD
  margin: 30px;
  background-color: white;
  /*display: grid;*/
  /*grid-template-columns: auto ;*/
  float: right;
=======
  margin: 27px;
  background-color: white;
  display: grid;
  grid-template-columns: auto ;
>>>>>>> e3dabf0a0b1febda4bd612d7eac93b46417576fd
  height: 100%;
    width: 25%;
    text-align: center;
<<<<<<< HEAD
=======
    float:left;
    clear: left;
  
>>>>>>> e3dabf0a0b1febda4bd612d7eac93b46417576fd
}

.PokNames{
  padding:
  10px 10px 20px 10px;
<<<<<<< HEAD
  margin: 30px;
=======
  margin: 25px;
>>>>>>> e3dabf0a0b1febda4bd612d7eac93b46417576fd
  border: 5px solid #BFBFBF;
  background-color: white;
  display: grid;
  grid-template-columns: auto ;
  height: 100%;
<<<<<<< HEAD
  width: 20%;
text-align: center;
  float: right;
=======
  width: 25%;
  float: left;
  text-align: center;
  overflow:auto;
>>>>>>> e3dabf0a0b1febda4bd612d7eac93b46417576fd

}

.Description{
  padding:
  10px 10px 20px 10px;
<<<<<<< HEAD
  margin: 30px;
  border: 5px solid #BFBFBF;
  background-color: white;
  display: grid;
  grid-template-columns: auto ;
  height: 100%;
  width: 20%;
  float: left;
text-align: center;
=======
  margin: 25px;
  border: 5px solid #BFBFBF;
  background-color: white;
  text-align: center;
  height: 100%;
  width: 25%;
  float:right;
}

.remove{
  padding:
  5px 5px 2px 2px;
  margin: 10px;
  border: 5px solid #BFBFBF;
  background-color: white;
  text-align: center;
  height: 2%;
  width: 25%;
  
>>>>>>> e3dabf0a0b1febda4bd612d7eac93b46417576fd
}
